.competencies {
    height: 50vh;
    display: flex;
    align-items: flex-start;

    @include media(phone) {
        height: 90vh;
    }

    @include media(phonexs) {
        align-items: center;
    }


    &__content-wrapper {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;

        @include media(tab-port) {
            width: 100%;
            justify-content: space-around;
        }

        @include media(phone) {
            flex-direction: column;
            align-items: center;
            gap: 5rem;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;

        & h4 {
            font-size: 3rem;
            text-transform: uppercase;
            font-family: $bebasNeue;
            font-weight: 400;
            color: $primary-color;
        }
    }

    // &__divider {
    //     height: auto;
    //     width: 1px;
    //     background-color: $surface-300;
    //     display: block;
    // }

    &__labels-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 30rem;
        justify-content: center;
        gap: 1rem;
    }

    &__pill {
        display: block;
        padding: 1rem 2rem;
        border: 1px solid $surface-300;
        text-align: center;
        border-radius: 10rem;
        font-size: 2rem;
        color: $surface-300;
        cursor: pointer;
        transition: 0.2s all ease;


        &:hover {
            transform: scale(1.04);
        }

    }

}