.wrapper {

    border-top-left-radius: 8rem;
    border-top-right-radius: 8rem;
    margin-top: 3rem;
    background-color: $surface-0;


}

.education {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    padding: 5rem;
    width: 80%;
    margin: 0 auto;
    // background-color: $surface-0;

    &>h2 {
        font-size: 4rem;
        font-family: $poppins;
        color: $secondary-color;
    }

    &__courses {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__course {
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
        padding: 3rem;
        margin: 0 auto;
        opacity: 0;
        width: 100%;
        height: 20rem;
        border-radius: 3rem;
        background-color: $surface-0;
        position: relative;
        border: 1px solid $surface-50;
        cursor: pointer;
        transition: transform 0.2s ease;


        &::before,
        &::after {
            content: "";
            position: absolute;
            inset: -0.2rem;
            background: transparent;
            z-index: -1;
            border-radius: 3.2rem;
        }

        &:hover {
            transform: scale(1.005);

            &::before,
            &::after {
                background-image: radial-gradient(circle at var(--x-local) var(--y-local),
                        $surface-400 50%,
                        rgba(255, 100, 100, 0.0) 50%);
                background-attachment: initial;
                mix-blend-mode: color-dodge;
            }

            // &::after {
            //     background-image: radial-gradient(circle at var(--x-local) var(--y-local),
            //             $accent-color 0%,
            //             rgba(255, 100, 100, 0.0) 50%);
            //     filter: blur(5px);
            // }

        }

        & svg {
            width: 6rem;
            color: $surface-300;

        }
    }

    &__header {
        width: 40%;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        & h4 {
            font-size: 3.8rem;
            font-family: $bebasNeue;
            font-weight: 400;
            color: $surface-300;
        }

        & span {
            font-size: 1.6rem;
            color: $surface-200;
        }
    }

    &__content {
        width: 40%;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        color: $surface-200;

        & span {
            font-size: 1.6rem;
        }

    }
}

.certificates {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 5rem;
    flex-direction: column;
    gap: 4.5rem;


    & h2 {
        font-size: 4rem;
        color: $secondary-color;
        font-family: $poppins;
    }

    &__container {
        width: 95%;
        margin: 0 auto;
        align-self: center;
        display: flex;
        align-items: center;
        min-height: 70vh;
        padding-inline: 2rem;
        padding-bottom: 4rem;
    }

    &__card {
        border: 1px solid $surface-50;
        width: 50%;
        border-radius: 2rem;
        text-decoration: none;
        user-select: none;
        max-height: 90%;
        transition: all 0.2s ease;

        &:hover {
            border-color: $surface-400;
        }
    }

    &__card-image-container {
        height: 22rem;
        width: 22rem;
        border-radius: 2rem;
        margin: 0 auto;
        overflow: hidden;
        border: 1px solid $surface-100;
    }

    &__card-image {
        object-fit: cover;
        width: 100%;
        height: 100%;

    }

    &__card-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        padding-top: 2rem;
    }

    &__card-header {

        color: $surface-300;


        & h4 {
            font-size: 3.5rem;
            font-family: $bebasNeue;
            font-weight: 400;
            padding-top: 2rem;

        }

        & label {
            padding: 0.8rem 1.6rem;
            border: 1px solid currentColor;
            width: auto;
            border-radius: 10rem;
            font-size: 1.6rem;
        }
    }

    &__card-desc {
        border-top: 1px solid $surface-50;

        &>p {
            padding: 2rem 1.5rem;
            color: $surface-100;
        }
    }

}

.swiper-pagination-bullet-active {
    background-color: $secondary-color;
}

.footer--white {
    background-color: $surface-0;
}

.no-hover {
    pointer-events: none;
    /* Impede que o cursor interaja com o elemento */
}