@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FCF2FF;
  font-family: "Cabin", sans-serif;
  font-size: 1.8rem;
  box-sizing: border-box;
}

.header {
  margin: 0 auto;
  width: 80%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.header h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: #A347BA;
  font-size: 2rem;
}

.button--nav {
  padding: 0.8rem 2rem;
  display: block;
  background-color: #3C3C40;
  border-radius: 10rem;
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  transition: 0.2s all ease;
}
.button--nav:hover, .button--nav:active {
  background-image: linear-gradient(90deg, rgb(36, 0, 29) 0%, rgb(71, 0, 97) 35%, rgb(255, 0, 238) 100%);
  transform: translateY(-0.3rem);
}
.button--nav.active {
  background-color: transparent;
  color: #3C3C40;
}
.button--nav.active {
  background-image: none;
  transform: translateY(0);
}

.intro {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}
.intro__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
}
.intro__left-container {
  width: 50%;
  position: relative;
  z-index: 100;
}
.intro__left-container p {
  width: 60%;
  color: #3C3C40;
}
.intro__right-container {
  position: absolute;
  transform: translateX(-50%);
  left: 65%;
  width: 30%;
  background-image: linear-gradient(to bottom, #A273AF, rgba(0, 0, 0, 0));
  top: 0;
  height: 90vh;
  z-index: 0;
  border-bottom-left-radius: 100rem;
  border-bottom-right-radius: 100rem;
  display: flex;
}
.intro__texts {
  position: absolute;
  margin-top: -3rem;
  display: flex;
  gap: 1rem;
  transform: translateX(-50%);
  left: 65%;
  width: 100%;
}
.intro__informal {
  font-size: 2.5rem;
  font-style: normal;
  padding-top: 1rem;
  color: rgba(70, 37, 70, 0.5);
}
.intro__header {
  margin-bottom: 8rem;
}
.intro__header h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 8rem;
  font-style: italic;
  color: #462546;
}
.intro__header h2 span {
  color: #86349B;
}
.intro__header h1 {
  font-size: 7rem;
  text-transform: lowercase;
  font-family: "Cabin", sans-serif;
  font-style: italic;
  color: #462546;
}

.contacts__container {
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  color: #FCF2FF;
  transition: 0.2s all;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contacts__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  gap: 0.7rem;
}
.contacts__item a {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  opacity: 0;
  visibility: hidden;
  max-width: 0;
  overflow: hidden;
  transform: translateX(-10px);
  white-space: nowrap;
}
.contacts i {
  cursor: pointer;
}
.contacts i:hover {
  transform: scale(1.01);
}

.stars {
  position: absolute;
}
.stars--1 {
  width: 7rem;
  fill: #A347BA;
  top: -6rem;
  left: -6rem;
}
.stars--2 {
  fill: #B330BF;
  width: 7rem;
  bottom: 0;
  right: 7rem;
}
.stars--3 {
  fill: #86349B;
  width: 12rem;
  right: -1rem;
  bottom: -10rem;
}

.custom-shape-divider-top-1764256245 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1764256245 svg {
  display: block;
  width: calc(300% + 1.3px);
  height: 354px;
}

.custom-shape-divider-top-1764256245 .shape-fill {
  fill: #FCF2FF;
}

.custom-shape-divider-bottom-1764256323 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1764256323 svg {
  display: block;
  width: calc(300% + 1.3px);
  height: 354px;
}

.custom-shape-divider-bottom-1764256323 .shape-fill {
  fill: #FCF2FF;
}

.habilities {
  display: flex;
  flex-direction: column;
  background-color: #462546;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.habilities__stars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 70vh;
  transform: translate(-50%, -50%);
  top: 50%;
}
.habilities__stars--left {
  left: 4.5%;
}
.habilities__stars--right {
  right: 0;
}
.habilities__stars span {
  background-color: #E2B2EF;
  height: 8.5rem;
  width: 2px;
  position: relative;
}
.habilities__stars span::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 1px;
  background-color: #E2B2EF;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.habilities__star {
  width: 7rem;
  color: #E2B2EF;
}
.habilities__content-wrapper {
  height: 50vh;
  display: flex;
  justify-content: center;
}
.habilities__header {
  font-size: 5.5rem;
  text-align: center;
  color: #E2B2EF;
  display: flex;
  flex-direction: column;
}
.habilities__header h4 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.5rem;
}
.habilities__header h5 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 5rem;
}
.habilities__softwares-container {
  max-width: 60vw;
  overflow: hidden;
  position: relative;
}
.habilities__softwares-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: linear-gradient(90deg, #462546 0%, rgba(38, 39, 42, 0) 20%, rgba(58, 38, 60, 0) 80%, #462546 100%);
  top: 0;
}
.habilities__softwares-track {
  display: flex;
  gap: 4rem;
  width: max-content;
  animation: scroll 20s linear infinite;
}
.habilities__softwares {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #E2B2EF;
}
.habilities__caption--blender {
  padding-left: 4rem;
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-50%);
  }
}

/*# sourceMappingURL=main.css.map */
