@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 60em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 100em) {
  html {
    font-size: 56.25%;
  }
}

body {
  background-color: #FCF2FF;
  font-family: "Cabin", sans-serif;
  font-size: 1.8rem;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

.header {
  margin: 0 auto;
  width: 80%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.header a {
  text-decoration: none;
}
.header h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: #A347BA;
  font-size: 2rem;
}
@media (max-width: 75em) {
  .header {
    width: 90%;
  }
}
@media (max-width: 60em) {
  .header {
    width: 100%;
    padding: 0 2rem;
  }
  .header ul {
    padding: 0;
    margin: 0;
  }
  .header nav {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 28.125em) {
  .header {
    position: absolute;
    z-index: 10;
    justify-content: center;
  }
  .header h2 {
    display: none;
  }
  .header__phonexs {
    position: initial;
  }
}

.intro {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}
@media (max-width: 47em) {
  .intro {
    height: 100vh;
  }
}
@media (max-width: 28.125em) {
  .intro {
    height: 120vh;
    padding-bottom: 15rem;
  }
}
.intro__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 75em) {
  .intro__container {
    width: 80%;
  }
}
@media (max-width: 60em) {
  .intro__container {
    width: 95%;
  }
}
@media (max-width: 47em) {
  .intro__container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.intro__left-container {
  width: 50%;
  position: relative;
  z-index: 100;
}
.intro__left-container p {
  width: 60%;
  color: #26272A;
}
@media (max-width: 60em) {
  .intro__left-container {
    width: 60%;
  }
  .intro__left-container p {
    width: 80%;
  }
  .intro__left-container h2 {
    font-size: 6.5rem !important;
  }
  .intro__left-container h1 {
    font-size: 5.5rem !important;
  }
}
@media (max-width: 47em) {
  .intro__left-container {
    margin-top: -8rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .intro__left-container p {
    text-align: center;
  }
}
@media (max-width: 28.125em) {
  .intro__left-container p {
    width: 95%;
  }
}
.intro__right-container {
  position: absolute;
  transform: translateX(-50%);
  left: 65%;
  width: 30%;
  background-image: linear-gradient(to bottom, #A273AF, rgba(0, 0, 0, 0));
  overflow: hidden;
  top: 0;
  height: 90vh;
  z-index: 0;
  border-bottom-left-radius: 100rem;
  border-bottom-right-radius: 100rem;
  display: flex;
}
.intro__right-container img {
  position: absolute;
  top: 7%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5450980392));
}
@media (max-width: 75em) {
  .intro__right-container {
    left: 75%;
    width: 35%;
    z-index: 0;
  }
}
@media (max-width: 60em) {
  .intro__right-container {
    width: 40%;
  }
}
@media (max-width: 47em) {
  .intro__right-container {
    position: initial;
    border-radius: 50%;
    background: transparent;
    transform: translateX(0);
    overflow: visible;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 47em) {
  .intro__image-container {
    width: 35rem;
    height: 35rem;
    background-image: linear-gradient(to bottom, #A273AF, rgba(0, 0, 0, 0));
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    flex-grow: 0;
  }
  .intro__image-container img {
    width: 100%;
    height: 100%;
    position: initial;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}
@media (max-width: 28.125em) {
  .intro__image-container {
    width: 30rem;
    height: 30rem;
  }
}
.intro__texts {
  position: absolute;
  margin-top: -3rem;
  display: flex;
  gap: 1rem;
  transform: translateX(-50%);
  left: 65%;
  width: 100%;
}
@media (max-width: 47em) {
  .intro__texts {
    left: 0;
    transform: translateX(0);
    display: flex;
    position: initial;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .intro__texts h1 {
    margin-top: -1rem;
  }
}
@media (max-width: 28.125em) {
  .intro__texts h1 {
    margin-top: 1rem;
  }
}
.intro__informal {
  font-size: 2.5rem;
  font-style: normal;
  padding-top: 1rem;
  color: rgba(70, 37, 70, 0.5);
}
@media (max-width: 28.125em) {
  .intro__informal {
    display: none;
  }
}
.intro__header {
  margin-bottom: 8rem;
}
@media (max-width: 47em) {
  .intro__header {
    margin-bottom: 2rem;
  }
}
.intro__header h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 8rem;
  font-style: italic;
  color: #462546;
}
.intro__header h2 span {
  color: #86349B;
}
.intro__header h1 {
  font-size: 7rem;
  text-transform: lowercase;
  font-family: "Cabin", sans-serif;
  font-style: italic;
  color: #462546;
}

.contacts__container {
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  color: #FCF2FF;
  transition: 0.2s all;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 10;
}
@media (max-width: 47em) {
  .contacts__container {
    position: absolute;
    bottom: 18%;
    flex-direction: row;
    font-size: 3rem;
    margin: 0 auto;
  }
  .contacts__container i {
    color: #3C3C40 !important;
  }
}
@media (max-width: 28.125em) {
  .contacts__container {
    bottom: 22%;
  }
}
.contacts__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  gap: 0.7rem;
}
.contacts__item a {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  opacity: 0;
  visibility: hidden;
  max-width: 0;
  overflow: hidden;
  transform: translateX(-10px);
  white-space: nowrap;
}
@media (max-width: 47em) {
  .contacts__item a {
    color: #3C3C40;
  }
}
.contacts i {
  cursor: pointer;
}
.contacts i:hover {
  transform: scale(1.01);
}

.stars {
  position: absolute;
}
.stars--1 {
  width: 7rem;
  fill: #A347BA;
  top: -6rem;
  left: -6rem;
}
@media (max-width: 60em) {
  .stars--1 {
    display: none;
  }
}
.stars--2 {
  fill: #B330BF;
  width: 7rem;
  bottom: 0;
  right: 7rem;
}
@media (max-width: 60em) {
  .stars--2 {
    display: none;
  }
}
.stars--3 {
  fill: #86349B;
  width: 12rem;
  right: -1rem;
  bottom: -10rem;
}
@media (max-width: 60em) {
  .stars--3 {
    width: 10rem;
    right: 4rem;
    display: none;
  }
}

.custom-shape-divider-top-1764256245 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: -2px;
}
@media (max-width: 28.125em) {
  .custom-shape-divider-top-1764256245 {
    display: none;
  }
}

.custom-shape-divider-top-1764256245 svg {
  display: block;
  width: calc(300% + 1.3px);
  height: 354px;
}

.custom-shape-divider-top-1764256245 .shape-fill {
  fill: #FCF2FF;
}

.custom-shape-divider-bottom-1764256323 {
  width: 100%;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1764256323 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 354px;
  bottom: 2px;
}
@media (max-width: 28.125em) {
  .custom-shape-divider-bottom-1764256323 svg {
    display: none;
  }
}

.custom-shape-divider-bottom-1764256323 .shape-fill {
  fill: #FCF2FF;
}

.skills {
  flex-direction: column;
  background-color: #462546;
  position: relative;
  border-top: 2px solid #FCF2FF;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 28.125em) {
  .skills {
    height: 90vh;
    align-items: center;
    justify-content: center;
  }
}
.skills__stars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 70vh;
  transform: translate(-50%, -50%);
  top: 50%;
  opacity: 0.6;
}
@media (max-width: 47em) {
  .skills__stars {
    display: none;
  }
}
.skills__stars--left {
  left: 4.5%;
}
.skills__stars--right {
  right: 0;
}
.skills__stars span {
  background-color: #E2B2EF;
  height: 8.5rem;
  width: 2px;
  position: relative;
}
.skills__stars span::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 1px;
  background-color: #E2B2EF;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.skills__star {
  width: 7rem;
  color: #E2B2EF;
}
.skills__content-wrapper {
  height: 50vh;
  display: flex;
  justify-content: center;
}
.skills__header {
  font-size: 5.5rem;
  text-align: center;
  color: #E2B2EF;
  display: flex;
  flex-direction: column;
}
.skills__header h4 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.5rem;
}
.skills__header h5 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 5rem;
}
@media (max-width: 60em) {
  .skills__header h4 {
    font-size: 4rem;
  }
  .skills__header h5 {
    font-size: 2.5rem;
  }
}
@media (max-width: 47em) {
  .skills__header h4 {
    font-size: 4.5rem;
  }
}
.skills__softwares-container {
  max-width: 60vw;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  height: max-content;
}
@media (max-width: 75em) {
  .skills__softwares-container {
    height: 20rem;
    align-items: center;
  }
}
@media (max-width: 60em) {
  .skills__softwares-container {
    max-width: 75vw;
  }
}
@media (max-width: 47em) {
  .skills__softwares-container {
    max-width: 100vw;
  }
}
.skills__softwares-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: linear-gradient(90deg, #462546 0%, rgba(38, 39, 42, 0) 20%, rgba(58, 38, 60, 0) 80%, #462546 100%);
  top: 0;
}
.skills__softwares-track {
  display: flex;
  gap: 4rem;
  width: max-content;
  animation: scroll 20s linear infinite;
}
.skills__softwares {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #E2B2EF;
}
@media (max-width: 75em) {
  .skills__softwares {
    height: 10rem;
  }
  .skills__softwares img {
    width: 100%;
    height: 100%;
  }
}
.skills__caption--blender {
  padding-left: 4rem;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 40px));
  }
}
.button--nav {
  padding: 0.8rem 2rem;
  display: block;
  background-color: #3C3C40;
  border-radius: 10rem;
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  transition: 0.2s all ease;
}
.button--nav:hover, .button--nav:active {
  background-image: linear-gradient(90deg, rgb(36, 0, 29) 0%, rgb(71, 0, 97) 35%, rgb(255, 0, 238) 100%);
  transform: translateY(-0.3rem);
}
.button--nav.active {
  background-color: transparent;
  color: #3C3C40;
}
.button--nav.active {
  background-image: none;
  transform: translateY(0);
}

footer {
  padding: 4rem 0;
  margin: 0 auto;
  border-top: 1px solid #C3C5D9;
}
footer a {
  text-decoration: none;
  display: block;
  width: 80%;
  margin: 0 auto;
  color: #26272A;
}
footer span {
  color: #A347BA;
}

.competencies {
  height: 50vh;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 47em) {
  .competencies {
    height: 90vh;
  }
}
@media (max-width: 28.125em) {
  .competencies {
    align-items: center;
  }
}
.competencies__content-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 60em) {
  .competencies__content-wrapper {
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 47em) {
  .competencies__content-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}
.competencies__column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.competencies__column h4 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: #86349B;
}
.competencies__labels-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 30rem;
  justify-content: center;
  gap: 1rem;
}
.competencies__pill {
  display: block;
  padding: 1rem 2rem;
  border: 1px solid #3C3C40;
  text-align: center;
  border-radius: 10rem;
  font-size: 2rem;
  color: #3C3C40;
  cursor: pointer;
  transition: 0.2s all ease;
}
.competencies__pill:hover {
  transform: scale(1.04);
}

.wrapper {
  border-top-left-radius: 8rem;
  border-top-right-radius: 8rem;
  margin-top: 3rem;
  background-color: white;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
  padding: 5rem;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 75em) {
  .education {
    width: 90%;
  }
}
@media (max-width: 60em) {
  .education {
    width: 100%;
  }
}
.education > h2 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #A347BA;
}
.education__courses {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 47em) {
  .education {
    align-items: center;
  }
  .education > h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 28.125em) {
  .education {
    padding: 2.5rem;
    padding-top: 10rem;
  }
  .education > h2 {
    font-size: 3rem;
  }
}
.education__course {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 3rem;
  margin: 0 auto;
  width: 100%;
  height: 20rem;
  border-radius: 3rem;
  background-color: white;
  position: relative;
  border: 1px solid #C3C5D9;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.education__course::before, .education__course::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  background: transparent;
  z-index: -1;
  border-radius: 3.2rem;
}
.education__course:hover {
  transform: scale(1.005);
}
.education__course:hover::before, .education__course:hover::after {
  background-image: radial-gradient(circle at var(--x-local) var(--y-local), #26272A 50%, rgba(255, 100, 100, 0) 50%);
  background-attachment: initial;
  mix-blend-mode: color-dodge;
}
.education__course svg {
  width: 6rem;
  color: #3C3C40;
}
@media (max-width: 47em) {
  .education__course {
    flex-direction: column;
    height: auto;
  }
  .education__course svg {
    display: none;
  }
}
.education__header {
  width: 40%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.education__header h4 {
  font-size: 3.8rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: #3C3C40;
}
@media (max-width: 68.75em) {
  .education__header h4 {
    font-size: 3rem;
  }
}
.education__header span {
  font-size: 1.6rem;
  color: #7a7f8f;
}
@media (max-width: 60em) {
  .education__header h4 {
    font-size: 3rem;
  }
}
@media (max-width: 47em) {
  .education__header {
    width: 100%;
    gap: 5px;
    padding-left: 0;
  }
}
@media (max-width: 28.125em) {
  .education__header h4 {
    font-size: 3rem;
  }
}
.education__content {
  width: 40%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #7a7f8f;
}
.education__content span {
  font-size: 1.6rem;
}
@media (max-width: 60em) {
  .education__content p {
    font-size: 1.7rem;
  }
  .education__content span {
    font-size: 1.5rem;
  }
}
@media (max-width: 47em) {
  .education__content {
    width: 100%;
  }
}

.certificates {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 5rem;
  flex-direction: column;
  gap: 4.5rem;
}
@media (max-width: 60em) {
  .certificates {
    width: 100%;
  }
}
@media (max-width: 28.125em) {
  .certificates {
    width: 100%;
    padding-inline: 0;
  }
}
.certificates h2 {
  font-size: 4rem;
  color: #A347BA;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 47em) {
  .certificates > h2 {
    text-align: center;
    font-size: 3.5rem;
  }
}
.certificates__container {
  width: 95%;
  margin: 0 auto;
  align-self: center;
  display: flex;
  align-items: center;
  min-height: 70vh;
  padding-inline: 2rem;
  padding-bottom: 4rem;
}
.certificates__card {
  border: 1px solid #C3C5D9;
  width: 50%;
  border-radius: 2rem;
  text-decoration: none;
  user-select: none;
  max-height: 90%;
  transition: all 0.2s ease;
}
.certificates__card:hover {
  border-color: #26272A;
}
.certificates__card-image-container {
  height: 22rem;
  width: 22rem;
  border-radius: 2rem;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #A7AAC0;
}
.certificates__card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.certificates__card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  padding-top: 2rem;
}
.certificates__card-header {
  color: #3C3C40;
}
.certificates__card-header h4 {
  font-size: 3.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  padding-top: 2rem;
}
@media (max-width: 47em) {
  .certificates__card-header h4 {
    font-size: 3rem;
  }
}
.certificates__card-header label {
  padding: 0.8rem 1.6rem;
  border: 1px solid currentColor;
  width: auto;
  border-radius: 10rem;
  font-size: 1.6rem;
}
.certificates__card-desc {
  border-top: 1px solid #C3C5D9;
}
.certificates__card-desc > p {
  padding: 2rem 1.5rem;
  color: #A7AAC0;
}

.swiper-pagination-bullet-active {
  background-color: #A347BA;
}

.footer--white {
  background-color: white;
}

.no-hover {
  pointer-events: none;
  /* Impede que o cursor interaja com o elemento */
}

.projects-intro {
  width: 75%;
  margin: 0 auto;
  margin-top: 10rem;
}
@media (max-width: 75em) {
  .projects-intro {
    width: 90%;
  }
}
.projects-intro__header {
  display: flex;
  justify-content: space-between;
}
.projects-intro__header b {
  color: #26272A;
}
.projects-intro__header h2 {
  width: 36%;
  font-size: 3.8rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #7a7f8f;
}
.projects-intro__header p {
  width: 50%;
  font-size: 2rem;
  color: #3C3C40;
}
@media (max-width: 60em) {
  .projects-intro__header h2 {
    width: 45%;
  }
  .projects-intro__header p {
    font-size: 1.8rem;
  }
}
@media (max-width: 47em) {
  .projects-intro__header {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 2rem;
    text-align: center;
  }
  .projects-intro__header h2 {
    width: 100%;
  }
  .projects-intro__header p {
    width: 100%;
  }
}

.projects {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
@media (max-width: 75em) {
  .projects {
    width: 90%;
  }
}
.projects .swiper {
  width: 100%;
  padding: 2rem;
}
.projects__cards {
  padding-bottom: 2rem;
}
.projects__card {
  height: 100%;
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid #C3C5D9;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: none;
}
.projects__card:hover {
  transform: scale(1.01);
}
.projects__card:hover img {
  transform: scale(1.08);
}
.projects__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.projects__image-container {
  height: 25rem;
  overflow: hidden;
  border-bottom: 1px solid #C3C5D9;
}
.projects__image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}
.projects__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 2.4rem;
}
.projects__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #C3C5D9;
  padding-bottom: 2rem;
}
.projects__texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.projects__texts h4 {
  font-size: 2.4rem;
  color: #26272A;
}
.projects__texts label {
  padding: 5px 8px;
  border-radius: 10rem;
  border: 1px solid #3C3C40;
  font-size: 1.3rem;
  align-self: flex-start;
  color: #3C3C40;
}
.projects__dates {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 1rem;
  color: #A7AAC0;
  font-size: 1.4rem;
}
.projects__cutoff-text {
  --max-lines: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  line-clamp: var(--max-lines);
  -webkit-line-clamp: var(--max-lines);
}
.projects__info {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-block: 2rem;
  width: 95%;
  margin: 0 auto;
  text-align: left;
}
.projects p {
  font-size: 1.7rem;
  color: #7a7f8f;
}
.projects i {
  color: #7a7f8f;
  font-weight: 600;
  font-size: 1.6rem;
}
.projects__footer {
  border-top: 1px solid #C3C5D9;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.projects__tec {
  background-color: #3C3C40;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 1px;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
}
.projects__tec--plus {
  background-color: rgba(38, 39, 42, 0.1);
  color: #26272A;
}
.projects__tec i {
  font-size: 7px;
  color: #26272A;
}
.projects__button {
  width: 100%;
  padding: 1.6rem 2.4rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: #3C3C40;
  color: white;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.3s all ease;
  text-decoration: none;
  font-size: 1.4rem;
  text-align: center;
}
.projects__button--repo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.projects__button--repo i {
  color: white;
  font-size: 2rem;
  font-weight: 200;
}
.projects__button:hover {
  transform: translateY(-3px);
}
.projects__button--outline {
  background-color: transparent;
  border: 1px solid #3C3C40;
  color: #3C3C40;
}
.projects .swiper-pagination-bullet-active {
  background-color: #26272A;
}
.projects .swiper-button-prev, .projects .swiper-button-next {
  position: initial;
  background-color: #3C3C40;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.3s ease;
}
.projects .swiper-button-prev:hover, .projects .swiper-button-next:hover {
  transform: scale(1.05);
  background-image: linear-gradient(90deg, rgb(36, 0, 29) 0%, rgb(71, 0, 97) 35%, rgb(255, 0, 238) 100%);
}
.projects .swiper-button-prev:hover.swiper-button-next::after, .projects .swiper-button-prev:hover.swiper-button-prev::after, .projects .swiper-button-next:hover.swiper-button-next::after, .projects .swiper-button-next:hover.swiper-button-prev::after {
  color: white;
}
.projects .swiper-button-prev svg, .projects .swiper-button-next svg {
  display: none;
}
.projects .swiper-button-prev::after,
.projects .swiper-button-next::after {
  font-family: "boxicons";
  color: white;
  font-size: 3rem;
}
.projects .swiper-button-prev::after {
  content: "\f2d5";
}
.projects .swiper-button-next::after {
  content: "\f2d8" !important;
}

.offcanvas__header {
  color: #3C3C40;
  border-bottom: 1px solid #C3C5D9;
}
@media (max-width: 75em) {
  .offcanvas {
    width: 60% !important;
  }
}
@media (max-width: 47em) {
  .offcanvas {
    width: 100% !important;
  }
}
.offcanvas__image-container {
  height: 35rem;
  overflow: hidden;
}
.offcanvas__image-container img {
  width: 100%;
  object-fit: cover;
  object-position: center top;
  height: 100%;
  transition: all 0.2s ease;
}
.offcanvas__content h2 {
  color: #3C3C40;
}
.offcanvas__content h4 {
  color: #5e616c;
}
.offcanvas__content p {
  color: #7a7f8f;
}
.offcanvas__badge {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  border: 1px solid #3C3C40;
  color: #3C3C40;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=main.css.map */
