.button--nav {
    padding: 0.8rem 2rem;
    display: block;
    background-color: $surface-300;
    border-radius: 10rem;
    color: $surface-0;
    text-decoration: none;
    font-size: 1.6rem;
    transition: 0.2s all ease;

    &:hover,
    &:active {
        background-image: linear-gradient(90deg, rgba(36, 0, 29, 1) 0%, rgba(71, 0, 97, 1) 35%, rgba(255, 0, 238, 1) 100%);
        transform: translateY(-0.3rem);
    }

    &.active {
        background-color: transparent;
        color: $surface-300;
    }

    &.active {
        background-image: none;
        transform: translateY(0);
    }

}