.header {
    margin: 0 auto;
    width: 80%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & nav ul {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    & h2 {
        font-family: $bebasNeue;
        font-weight: 400;
        color: $secondary-color;
        font-size: 2rem;
    }
}

.button--nav {
    padding: 0.8rem 2rem;
    display: block;
    background-color: $surface-300;
    border-radius: 10rem;
    color: $surface-0;
    text-decoration: none;
    font-size: 1.6rem;
    transition: 0.2s all ease;

    &:hover,
    &:active {
        background-image: linear-gradient(90deg, rgba(36, 0, 29, 1) 0%, rgba(71, 0, 97, 1) 35%, rgba(255, 0, 238, 1) 100%);
        transform: translateY(-0.3rem);
    }

    &.active {
        background-color: transparent;
        color: $surface-300;
    }

    &.active {
        background-image: none;
        transform: translateY(0);
    }

}

.intro {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;


    &__container {
        width: 70%;
        margin: 0 auto;
        display: flex;
    }


    &__left-container {
        width: 50%;
        position: relative;
        z-index: 100;

        & p {
            width: 60%;
            color: $surface-400;
        }
    }

    &__right-container {
        position: absolute;
        transform: translateX(-50%);
        left: 65%;
        width: 30%;
        background-image: linear-gradient(to bottom, #A273AF, rgba(0, 0, 0, 0));
        overflow: hidden;
        top: 0;
        height: 90vh;
        z-index: 0;
        border-bottom-left-radius: 100rem;
        border-bottom-right-radius: 100rem;

        display: flex;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-image: url(../images/tata-port.png);
            background-size: cover;
            background-repeat: no-repeat;
            filter: drop-shadow(8px 8px 10px #0000008b);
        }
    }

    &__texts {
        position: absolute;
        margin-top: -3rem;
        display: flex;
        gap: 1rem;
        transform: translateX(-50%);
        left: 65%;
        width: 100%;
    }

    &__informal {
        font-size: 2.5rem;
        font-style: normal;
        padding-top: 1rem;
        color: rgba($tertiary-color, 0.5);
    }


    &__header {
        margin-bottom: 8rem;

        & h2 {
            font-family: $poppins;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 8rem;
            font-style: italic;
            color: $tertiary-color;

            & span {
                color: $primary-color;
            }
        }

        & h1 {
            font-size: 7rem;
            text-transform: lowercase;
            font-family: $cabin;
            font-style: italic;
            color: $tertiary-color;
        }
    }


}

.contacts {
    &__container {
        font-size: 2rem;
        margin-top: 2rem;
        margin-left: 2rem;
        color: $body-color;
        transition: 0.2s all;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        z-index: 10;
    }

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 10rem;
        gap: 0.7rem;

        & a {
            text-decoration: none;
            color: inherit;
            font-size: 1.6rem;
            opacity: 0;
            visibility: hidden;
            max-width: 0;
            overflow: hidden;
            transform: translateX(-10px);
            white-space: nowrap;
        }


    }

    & i {
        cursor: pointer;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.stars {
    position: absolute;

    &--1 {
        width: 7rem;
        fill: $secondary-color;
        top: -6rem;
        left: -6rem;
    }

    &--2 {
        fill: $accent-color;
        width: 7rem;
        bottom: 0;
        right: 7rem;
    }

    &--3 {
        fill: $primary-color;
        width: 12rem;
        right: -1rem;
        bottom: -10rem;
    }
}