.header {
    margin: 0 auto;
    width: 80%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    & nav ul {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    & a {
        text-decoration: none;
    }

    & h2 {
        font-family: $bebasNeue;
        font-weight: 400;
        color: $secondary-color;
        font-size: 2rem;
    }




    @include media(betweenTabPortLand) {
        width: 90%;
    }

    @include media(tab-port) {
        width: 100%;
        padding: 0 2rem;

        & ul {
            padding: 0;
            margin: 0;
        }

        & nav {
            display: flex;
            justify-content: flex-end;
        }
    }

    @include media(phonexs) {
        position: absolute;
        z-index: 10;
        justify-content: center;

        & h2 {
            display: none;
        }

        &__phonexs {
            position: initial;
        }
    }


}

.intro {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;

    @include media(phone) {
        height: 100vh;
    }

    @include media(phonexs) {
        height: 120vh;
        padding-bottom: 15rem;
    }


    &__container {
        width: 70%;
        margin: 0 auto;
        display: flex;

        @include media(betweenTabPortLand) {
            width: 80%;
        }

        @include media(tab-port) {
            width: 95%;
        }

        @include media(phone) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }


    &__left-container {
        width: 50%;
        position: relative;
        z-index: 100;

        & p {
            width: 60%;
            color: $surface-400;
        }

        @include media(tab-port) {
            width: 60%;

            p {
                width: 80%;
            }

            h2 {
                font-size: 6.5rem !important;
            }

            h1 {
                font-size: 5.5rem !important;
            }
        }

        @include media(phone) {
            margin-top: -8rem;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            & p {
                text-align: center;
            }
        }

        @include media(phonexs) {
            & p {
                width: 95%;
            }
        }

    }

    &__right-container {
        position: absolute;
        transform: translateX(-50%);
        left: 65%;
        width: 30%;
        background-image: linear-gradient(to bottom, #A273AF, rgba(0, 0, 0, 0));
        overflow: hidden;
        top: 0;
        height: 90vh;
        z-index: 0;
        border-bottom-left-radius: 100rem;
        border-bottom-right-radius: 100rem;
        display: flex;


        & img {
            position: absolute;
            top: 7%;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
            filter: drop-shadow(8px 8px 10px #0000008b);
        }


        @include media(betweenTabPortLand) {
            left: 75%;
            width: 35%;
            z-index: 0;
        }

        @include media(tab-port) {
            width: 40%;
        }

        @include media(phone) {
            position: initial;
            border-radius: 50%;
            background: transparent;
            transform: translateX(0);
            overflow: visible;

            align-items: center;
            justify-content: center;
        }

    }

    @include media(phone) {
        &__image-container {
            width: 35rem;
            height: 35rem;
            background-image: linear-gradient(to bottom, #A273AF, rgba(0, 0, 0, 0));
            overflow: hidden;
            border-radius: 50%;
            aspect-ratio: 1 / 1;
            flex-shrink: 0;
            flex-grow: 0;


            & img {
                width: 100%;
                height: 100%;
                position: initial;
                object-fit: cover;
                aspect-ratio: 1/ 1;

            }
        }
    }

    @include media(phonexs) {
        &__image-container {
            width: 30rem;
            height: 30rem;
        }
    }



    &__texts {
        position: absolute;
        margin-top: -3rem;
        display: flex;
        gap: 1rem;
        transform: translateX(-50%);
        left: 65%;
        width: 100%;

        @include media(phone) {
            left: 0;
            transform: translateX(0);
            display: flex;
            position: initial;
            flex-direction: column;
            align-items: center;
            gap: 0;

            & h1 {
                margin-top: -1rem;
            }
        }

        @include media(phonexs) {
            & h1 {
                margin-top: 1rem;
            }
        }

    }

    &__informal {
        font-size: 2.5rem;
        font-style: normal;
        padding-top: 1rem;
        color: rgba($tertiary-color, 0.5);

        @include media(phonexs) {
            display: none;
        }
    }


    &__header {
        margin-bottom: 8rem;

        @include media(phone) {
            margin-bottom: 2rem;
        }

        & h2 {
            font-family: $poppins;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 8rem;
            font-style: italic;
            color: $tertiary-color;

            & span {
                color: $primary-color;
            }
        }

        & h1 {
            font-size: 7rem;
            text-transform: lowercase;
            font-family: $cabin;
            font-style: italic;
            color: $tertiary-color;
        }
    }


}

.contacts {
    &__container {
        font-size: 2rem;
        margin-top: 2rem;
        margin-left: 2rem;
        color: $body-color;
        transition: 0.2s all;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        z-index: 10;

        @include media(phone) {
            position: absolute;
            bottom: 18%;
            flex-direction: row;
            font-size: 3rem;
            margin: 0 auto;


            & i {

                color: $surface-300 !important;
            }
        }

        @include media(phonexs) {
            bottom: 22%;
        }
    }

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 10rem;
        gap: 0.7rem;

        & a {
            text-decoration: none;
            color: inherit;
            font-size: 1.6rem;
            opacity: 0;
            visibility: hidden;
            max-width: 0;
            overflow: hidden;
            transform: translateX(-10px);
            white-space: nowrap;

            @include media(phone) {
                color: $surface-300;
            }
        }


    }

    & i {
        cursor: pointer;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.stars {
    position: absolute;

    &--1 {
        width: 7rem;
        fill: $secondary-color;
        top: -6rem;
        left: -6rem;

        @include media(tab-port) {
            display: none;
        }
    }

    &--2 {
        fill: $accent-color;
        width: 7rem;
        bottom: 0;
        right: 7rem;

        @include media(tab-port) {
            display: none;
        }
    }

    &--3 {
        fill: $primary-color;
        width: 12rem;
        right: -1rem;
        bottom: -10rem;

        @include media(tab-port) {
            width: 10rem;
            right: 4rem;
            display: none;
        }
    }


}