.custom-shape-divider-top-1764256245 {
    // position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1764256245 svg {
    // position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 354px;
}

.custom-shape-divider-top-1764256245 .shape-fill {
    fill: #FCF2FF;
}

.custom-shape-divider-bottom-1764256323 {
    // position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1764256323 svg {
    // position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 354px;
}

.custom-shape-divider-bottom-1764256323 .shape-fill {
    fill: #FCF2FF;
}

.skills {
    display: flex;
    flex-direction: column;
    background-color: $tertiary-color;
    position: relative;

    display: flex;
    justify-content: space-between;

    &__stars {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        height: 70vh;
        transform: translate(-50%, -50%);
        top: 50%;

        &--left {
            left: 4.5%;
        }

        &--right {
            right: 0;
        }

        & span {
            background-color: $text-light;
            height: 8.5rem;
            width: 2px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 3rem;
                height: 1px;
                background-color: $text-light;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }
        }
    }

    &__star {
        width: 7rem;
        color: $text-light;
    }

    &__content-wrapper {
        height: 50vh;
        display: flex;
        justify-content: center;
    }

    &__header {
        font-size: 5.5rem;
        text-align: center;
        color: $text-light;
        display: flex;
        flex-direction: column;

        & h4 {
            font-family: $poppins;
            margin-bottom: 1.5rem;
        }

        & h5 {
            font-family: $bebasNeue;
            font-weight: 400;
            font-size: 3rem;
            margin-bottom: 5rem;
        }
    }

    &__softwares-container {
        max-width: 60vw;
        overflow: hidden;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            z-index: 100;
            background-image: linear-gradient(90deg, $tertiary-color 0%, rgba(38, 39, 42, 0) 20%, rgba(58, 38, 60, 0) 80%, $tertiary-color 100%);
            top: 0;
        }

    }

    &__softwares-track {
        display: flex;
        gap: 4rem;
        width: max-content;
        animation: scroll 20s linear infinite;
    }

    &__softwares {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        color: $text-light;
    }

    &__caption--blender {
        padding-left: 4rem;
    }

}


@keyframes scroll {
    to {
        transform: translate(calc(-50% - 40px));
    }

}