*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //10px


    @include media(tab-port) {
        font-size: 50%; //8px
    }

    @include media(tab-land) {
        font-size: 56.25%; //9px
    }


}

body {
    background-color: $body-color;
    font-family: $cabin;
    font-size: $font-size-default;
    box-sizing: border-box;
}

//Sobreescrevendo o estilo vindo do bootstrap

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}