$primary-color: #86349B;
$secondary-color: #A347BA;
$tertiary-color: #462546;
$accent-color: #B330BF;

$body-color: #FCF2FF;

// Text colors
$surface-0: #ffff;
$surface-50: #C3C5D9;
$surface-100: #A7AAC0;
$surface-200: #7a7f8f;
$surface-250: #5e616c;
$surface-300: #3C3C40;
$surface-400: #26272A;

$text-light: #E2B2EF;

// Utilities
$font-size-default: 1.8rem;
$poppins: "Poppins", sans-serif;
$cabin: "Cabin", sans-serif;
$bebasNeue: "Bebas Neue", sans-serif;