@mixin media($breakpoint) {
    @if ($breakpoint ==phonexs) {
        @media (max-width: 28.125em) {
            // 450px
            @content;
        }
    }

    @if ($breakpoint ==phone) {
        @media (max-width: 47em) {
            // 752px
            @content;
        }
    }

    @if ($breakpoint ==tab-port) {
        @media (max-width: 60em) {
            // 960px
            @content;
        }
    }

    @if ($breakpoint ==betweenTabPortLand) {
        @media (max-width: 75em) {
            // 1200px
            @content;
        }
    }

    @if ($breakpoint ==tab-land) {
        @media (max-width: 100em) {
            // 1600px
            @content;
        }
    }

    @if ($breakpoint ==big-desktop) {
        @media (min-width: 112.5em) {
            // 1800px
            @content;
        }
    }
}