{% extends 'layout.html' %}

{% block content %}

<section class="intro">
    <div class="intro__container">
        <div class="intro__left-container">
            {% with class='stars stars--1' %}
                {% include 'components/star.html' %}
            {% endwith %}
            {% with class='stars stars--2' %}
                {% include 'components/star.html' %}
            {% endwith %}
            {% with class='stars stars--3' %}
                {% include 'components/star.html' %}
            {% endwith %}
            <div class="intro__header">
                <h2>Port<span>folio</span> </h2>
                <div class="intro__texts">  
                    <span class="intro__informal">olá, eu sou</span>
                    <h1 class="name">taís souza</h1>
                </div>
            </div>
            <p>Estudante de ADS com aspiração para <b>desenvolvimento FrontEnd</b>. Atualmente, venho estudando frameworks diversas e aprimorando minhas habilidades com UI/UX design.</p>
        </div>
        <div class="intro__right-container">
            <div class="intro__image-container">
                <img src="../static/images/tata-port.png" alt="Foto Taís">
            </div>
            <div class="contacts__container">
                <div class="contacts__item">
                    <i class='bxl  bx-github'></i> 
                    <a href="https://github.com/tat4Souza" target="#">tat4Souza</a>
                    
                </div>
                <div class="contacts__item">
                    <i class='bxl  bx-linkedin'></i>  
                    <a href="https://www.linkedin.com/in/tais-f-souza/" target="#">tais-f-souza</a>
                </div>
                <div class="contacts__item">
                    <i class='bxl  bx-gmail'></i>
                    <a href="mailto:tata.ssouz47@gmail.com">tais.fernandes.ssouza@gmail.com</a>    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="skills">
    <div class="custom-shape-divider-top-1764256245">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
    </div>

    <div class="skills__content-wrapper">
        <div class="skills__stars skills__stars--left">
            {% with class='skills__star' %}
                {% include 'components/star-circle.html' %}
            {% endwith %}
            <span></span>
            {% with class='skills__star' %}
                {% include 'components/star-circle.html' %}
            {% endwith %}
        </div>

        <div class="skills__content ">
            <div class="skills__header">
                <h4 class="skills-animation">COMPETÊNCIAS</h4>
                <h5 class="skills-animation">Softwares</h5>
            </div>
            <div class="skills__softwares-container skills-animation--2">
                <div class="skills__softwares-track">
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/blender-logo.svg')}}" alt="logo do Blender">
                        <figcaption class="skills__caption--blender">Blender</figcaption>
                    </figure>
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/photoshop-logo.svg')}}" alt="logo do Photoshop">
                        <figcaption>Photoshop</figcaption>
                    </figure>
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/illustrator-logo.svg')}}" alt="logo do Illustrator">
                        <figcaption>Illustrator</figcaption>
                    </figure>
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/premiere-pro-logo.svg')}}" alt="logo do Premiere Pro">
                        <figcaption>Premiere Pro</figcaption>
                    </figure>
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/after-effects-logo.svg')}}" alt="logo do After Effects">
                        <figcaption>After Effects</figcaption>
                    </figure>
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/figma-logo.svg')}}" alt="logo do Figma">
                        <figcaption>Figma</figcaption>
                    </figure>
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/visual-studio-code-logo.svg')}}" alt="logo do Visual Studio Code">
                        <figcaption>VS Code</figcaption>
                    </figure>
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/blender-logo.svg')}}" alt="logo do Blender">
                        <figcaption class="skills__caption--blender">Blender</figcaption>
                    </figure>
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/photoshop-logo.svg')}}" alt="logo do Photoshop">
                        <figcaption>Photoshop</figcaption>
                    </figure>
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/illustrator-logo.svg')}}" alt="logo do Illustrator">
                        <figcaption>Illustrator</figcaption>
                    </figure>
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/premiere-pro-logo.svg')}}" alt="logo do Premiere Pro">
                        <figcaption>Premiere Pro</figcaption>
                    </figure>
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/after-effects-logo.svg')}}" alt="logo do After Effects">
                        <figcaption>After Effects</figcaption>
                    </figure>
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/figma-logo.svg')}}" alt="logo do Figma">
                        <figcaption>Figma</figcaption>
                    </figure>
                    <figure class="skills__softwares">
                        <img src="{{url_for('static', filename='images/visual-studio-code-logo.svg')}}" alt="logo do Visual Studio Code">
                        <figcaption>VS Code</figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <div class="skills__stars skills__stars--right">
            {% with class='skills__star' %}
                {% include 'components/star-circle.html' %}
            {% endwith %}
            <span></span>
            {% with class='skills__star' %}
                {% include 'components/star-circle.html' %}
            {% endwith %}
        </div>
    </div>
    

    <div class="custom-shape-divider-bottom-1764256323">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>

</section>

<section class="competencies">
    <div class="competencies__content-wrapper">
        <div class="competencies__column competencies-animation">
            <h4>Idiomas</h4>
            <label class="competencies__pill">{{data.skills.idiom}}</label>
        </div>


        <div class="competencies__column competencies-animation">
            <h4>Linguagens</h4>
            <div class="competencies__labels-container">
                {% for lang in data.skills.languages %}
                    <label class="competencies__pill">{{lang}}</label>
                {% endfor %}
            </div>
        </div>


        <div class="competencies__column competencies-animation">
            <h4>Frameworks</h4>
            <div class="competencies__labels-container">
                {% for frame in data.skills.frameworks %}
                    <label class="competencies__pill">{{frame}}</label>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
    <script src="../static/js/about-animation.js"></script>
{% endblock %}