<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio Taís Fernandes de Souza</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/main.css')}}">
</head>
<body>
    <header class="navbar">
        <h1>Portfólio Taís Souza</h1>
        <nav>
            <ul>
                <li><a href="#about_me">Sobre mim</a></li>
                <li><a href="#resume">Currículo</a></li>
                <li><a href="#projects">Projetos</a></li>
                <li><a href="#contact">Entre em contato!</a></li>
                <li><a href="{{url_for('teste')}}">TESTE</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="section-intro" id="about_me">
            <h2>Olá, eu sou a Taís!</h2>
            <h3>Cursando Análise e Desenvolvimento de Sistemas - Fatec - SJC</h3>
            <p class="personal-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae sapiente unde explicabo dolorem corporis perferendis esse necessitatibus, possimus cupiditate in! Sapiente molestias vero minus perferendis aut, cum debitis! Placeat, qui.</p>
    
            <div class="skills__container">
                <figure class="skills__image-container">
                    <img src="imagemSoftware" alt="Imagem dos softwares que utilizo">
                    <figcaption>Software 1</figcaption>
                </figure>
            </div>
        </section>
    
        <section class="section-resume" id="resume">
            <h2>Currículo</h2>
            <h3>Formação Acadêmica</h3>
            <ul>
                <li class="education__container">
                    <h4 class="education__header">Curso em Análise e Desenvolvimento de Sistemas</h4>  
                    <h5 class="education__place">FATEC - SJC</h5>
                    <span class="education__time">2025 - 2028</span>  
                    <p class="education__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente asperiores accusantium adipisci, nulla perferendis officiis suscipit dolor dolorum quaerat consectetur beatae impedit odit fuga repellat voluptas dicta rem saepe cupiditate.</p>           
                </li>
            </ul>
            
            <h3>Competências Técnicas</h3>
            <ul>
                <li>Competências</li>
            </ul>
        </section>
    
        <section class="section-projects" id="projects">
            <h2>Projetos</h2>
            <ul>
                <li class="projects__container">
                    <h4 class="projects__header">Projeto 1</h4>
                    <div class="projects__slideshow">
                        <!-- Aqui a ideia é usar uma biblioteca que tenha um elemento de carrossel p/ poder exibir vários prints do projeto -->
                        <img src="imagemProjeto" alt="Print do Projeto">
                        <img src="imagemProjeto" alt="Print 2 do Projeto">
                    </div>
                    <p class="projects__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur libero sit ut quasi distinctio repellendus quis, optio fuga officiis pariatur, sed, ab minima commodi debitis sapiente earum doloremque accusantium odio!
                    </p>
                    <p class="projects__solution">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatum minima et sit veniam praesentium, deleniti eius quae fugiat iure repellendus illum quasi reprehenderit harum repudiandae necessitatibus illo? Iste, nesciunt.</p>
                    <div class="projects__tec">
                        <a href="#link-documentacao"><img src="imagem-tag-tecnologia" alt="tecnologia utilizada"></a>
                    </div>
    
                    <button>
                        <a href="#link-projeto-github">Respositório</a>
                    </button>
                </li>
            </ul>
            <h2>Trabalhos Acadêmicos</h2>
            <!-- Aqui pretendo falar sobre meu TCC do técnico -->
            <ul>
                <li class="projects__container">
                    <h4 class="projects__header">InterLink - TCC</h4>
                    <div class="projects__slideshow">
                        <!-- Aqui a ideia é usar uma biblioteca que tenha um elemento de carrossel p/ poder exibir vários prints do projeto -->
                        <img src="imagemProjeto" alt="Print do Projeto">
                        <img src="imagemProjeto" alt="Print 2 do Projeto">
                    </div>
                    <p class="projects__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur libero sit ut quasi distinctio repellendus quis, optio fuga officiis pariatur, sed, ab minima commodi debitis sapiente earum doloremque accusantium odio!
                    </p>
                    <p class="projects__solution">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatum minima et sit veniam praesentium, deleniti eius quae fugiat iure repellendus illum quasi reprehenderit harum repudiandae necessitatibus illo? Iste, nesciunt.</p>
                    <div class="projects__tec">
                        <a href="#link-documentacao"><img src="imagem-tag-tecnologia" alt="tecnologia utilizada"></a>
                    </div>
    
                    <button>
                        <a href="#link-projeto-github">Respositório</a>
                    </button>
                </li>
            </ul>
        </section>
    
        <section class="section-certification">
            <h2>Certificados</h2>
            <ul>
                <li class="education__container">
                    <h4 class="education__header">Certificado curso 1</h4>  
                    <h5 class="education__place">Udemy</h5>
                    <span class="education__time">Término em mês 00</span>  
                    <p class="education__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente asperiores accusantium adipisci, nulla perferendis officiis suscipit dolor dolorum quaerat consectetur beatae impedit odit fuga repellat voluptas dicta rem saepe cupiditate.</p>           
                </li>
            </ul>
        </section>
    
        <section class="section-contact" id="contact">
            <h2>Contact</h2>
            <ul><li>Email</li><li>Github</li><li>Linkedin</li></ul>
        </section>
    </main>
</body>
</html>