<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio Taís Fernandes de Souza | Dev FrontEnd</title>
    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdn.boxicons.com/3.0.6/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
</head>
<body>
    <div id="smooth-content">
        <header class="header">
            <nav>
                <ul>
                    <li><a class="button--nav {% if request.path == '/' %}active {% endif %}" href="{{url_for('about')}}">Sobre</a></li>
                    <li><a class="button--nav {% if request.path == '/formacao' %}active {% endif %}" href="{{url_for('education')}}">Formação</a></li>
                    <li><a class="button--nav {% if request.path == '/projetos' %}active {% endif %}" href="{{url_for('projects')}}">Projetos</a></li>
                </ul>
            </nav>
            <a href="{{url_for('about')}}"><h2>Taís Souza</h2></a>
        </header>

        <main class="content">
            {% block content %}{% endblock %}
        </main>

        <footer class="{% if request.path == '/formacao' %}footer--white{% endif %}"><a href="https://www.linkedin.com/in/tais-f-souza" target="#">© Desenvolvido por <span>Taís Souza</span></a></footer>
    </div>

    {% block out_smooth_scroller %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollSmoother.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script src="../static/js/main.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>