{% extends 'layout.html' %}

{% block content %}
<section class="projects-intro">
    <div class="projects-intro__header">
        <h2><b>Dev FrontEnd,</b> Projetos Acadêmicos, Pessoais e de Treino.</h2>
        <p>Com estudos focados em design e desenvolvimento frontend, tenho praticado React.js, Sass, TypeScript, Next.js entre outras ferramentas comumente utilizadas na área. Essa página é dedicada para a exibição do resultado destes estudos.</p>
    </div>
</section>

<section class="projects">
    <div class="swiper swiper-projects">
        <div class="projects__cards swiper-wrapper">
            {% for project in projects %}
                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="projects__card swiper-slide">
                    <div class="projects__content">
                        <div class="projects__image-container">
                            <img src="{{url_for('static', filename=project.image)}}" alt="imagem">
                        </div>

                        <div class="projects__content-wrapper">
                            <div class="projects__header">
                                <div class="projects__texts">
                                    <h4>{{project.title}}</h4>
                                    <label>{{project.status}}</label>
                                </div>
                                <div class="projects__dates">
                                    <span>{{project.period_start}}</span>
                                    <span>{{project.period_end}}</span>
                                </div>
                            </div>
                            <div class="projects__info">
                                <p class="projects__cutoff-text">{{project.desc}}</p>
                                <i>Projeto {{project.type}}</i>
                            </div>
                            <div class="projects__footer">
                                {% if project.link != "" %}
                                    <a href="{{project.link}}" target="#" class="projects__button--outline projects__button">Acessar o site</a>
                                {% endif %}
                                <a href="{{project.repository}}" target="#" class="projects__button projects__button--repo"> Github <i class='bx  bx-arrow-out-up-right-square'></i>   </a>
                            </div>
                        </div>
                        

                    </div>
                </button>
            {% endfor %}
            <div class="swiper-slide">
            </div>
            
        </div>
        
        <div class="swiper-pagination"></div> 
        
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>



{% endblock %}

{% block out_smooth_scroller %}
<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header d-flex flex-row-reverse justify-content-between w-100">
    <h1 class="offcanvas-title flex-grow-1 text-center" id="offcanvasRightLabel">Detalhes do Projeto</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div>
{% endblock %}